<!-- <form>
    <div class="mb-3">
        <label class="form-label">Name</label>
        <input #Nameinput class="form-control" id="Name" placeholder="Name" aria-label="Name" aria-describedby="Name">
    </div>
    <div class="mb-3">
        <label class="form-label">Surname</label>
        <input #Surnameinput class="form-control" id="Surname" placeholder="Surname" aria-label="Surname" aria-describedby="Surname">
    </div>
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input #Emailinput class="form-control" id="Emailaddress" placeholder="Emailaddress" aria-label="Emailaddress" aria-describedby="Emailaddress">
    </div>
    <button type="button" class="btn btn-primary float-end" (click)="setValue(Nameinput,Surnameinput,Emailinput); Nameinput.value='';Surnameinput.value='';Emailinput.value=''; reloadPage()"><i class="fa-solid fa-check"></i>Add</button>
</form> -->

<div *ngIf="stateofinput3==1">
    <form>
        <div class="mb-3 visually-hidden">
            <label class="form-label">Name</label>
            <input #Idinput class="form-control" id="Id" value="{{stateofinput2.Id}}" placeholder="Id" aria-label="Id" aria-describedby="Id">
        </div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input #Nameinput class="form-control" id="Name" value="{{stateofinput2.Name}}" placeholder="Name" aria-label="Name" aria-describedby="Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Surname</label>
            <input #Surnameinput class="form-control" id="Surname" value="{{stateofinput2.Surname}}" placeholder="Surname" aria-label="Surname" aria-describedby="Surname">
        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input #Emailinput class="form-control" id="Emailaddress" value="{{stateofinput2.EmailAddress}}" placeholder="Emailaddress" aria-label="Emailaddress" aria-describedby="Emailaddress">
        </div>
        <button type="button" class="btn btn-success float-end" (click)="updateValue(Idinput.value,Nameinput,Surnameinput,Emailinput); Nameinput.value='';Surnameinput.value='';Emailinput.value=''; reloadPage()"><i class="fa-solid fa-check"></i>update</button>
    </form>
</div>
<div *ngIf="stateofinput3==2">
    <form>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input #Nameinput class="form-control" id="Name" placeholder="Name" aria-label="Name" aria-describedby="Name">
        </div>
        <div class="mb-3">
            <label class="form-label">Surname</label>
            <input #Surnameinput class="form-control" id="Surname" placeholder="Surname" aria-label="Surname" aria-describedby="Surname">
        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input #Emailinput class="form-control" id="Emailaddress" placeholder="Emailaddress" aria-label="Emailaddress" aria-describedby="Emailaddress">
        </div>
        <button type="button" class="btn btn-primary float-end" (click)="setValue(Nameinput,Surnameinput,Emailinput); Nameinput.value='';Surnameinput.value='';Emailinput.value=''; reloadPage()"><i class="fa-solid fa-check"></i>Add</button>
    </form>
</div>




<i class="fa-solid fa-check"></i>

<div style="color: red">
    {{stateofinput}}

</div>

















