<style>
  .container {
    display: table;
    width: 100%;
  }
  .col {
    display: table-cell;
    padding: 16px;
  }
  </style>

<div class="container border  mt-5 p-4">
  <div class="row border p-2" >
    <div class="border p-3" style="background-color:rgba(100, 100, 100, 0.1);">
    <div class="list-group pb-1 text-center">
      <button type="button" class="list-group-item list-group-item-action">
          <strong class="fs-3">Personel Sayfası</strong>
      </button>
    </div>
  </div>


</div>
  <div class="row">
    <div class="col-md-4 border p-2">
      <div class="container border " style="background-color:rgba(100, 100, 100, 0.1);">
        <div class="row">
          <div class="col border p-4 ">
          
          <app-form></app-form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 border p-2">
      <div class="container border" style="background-color:rgba(100, 100, 100, 0.1);">
        <div class="row">
          <div class="col border p-3">
          <!-- Column -->
          <app-list></app-list>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



