<!-- <p>list works!</p> -->
<!-- <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" *ngFor="let item of topage; let i = index">
       Id: {{item.Id}}---Name: {{item.Name}}---Surname: {{item.Surname}}---Email: {{item.EmailAddress}}
       <button type="button" id="{{i}}" class="btn btn-light float-end" (click)="deleteitem(item.Id)"><i class="fa-solid fa-trash"></i></button>
       <button type="button" id="{{i}}" class="btn btn-light float-end" (click)="updateitem(item.Id,item.Name,item.Surname,item.EmailAddress); reloadPage()"><i class="fa-solid fa-pen"></i></button>
    </button>
</div> -->






<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action" *ngFor="let item of topage; let i = index">

        <button type="button" class="btn btn-secondary visually-hidden" disabled>Id: <H4><strong>{{item.Id}}</strong></H4></button>
        <button type="button" class="btn btn-outline-primary" disabled>Name:<h4><strong>{{item.Name}}</strong></h4></button> |
        <button type="button" class="btn btn-outline-primary" disabled>Surname: <h4><strong>{{item.Surname}}</strong></h4></button> |
        <button type="button" class="btn btn-outline-primary" disabled>Email: <h4><strong>{{item.EmailAddress}}</strong></h4></button>

        <button type="button" id="{{i}}" class="btn btn-light float-end" (click)="deleteitem(item.Id)"><i class="fa-solid fa-trash"></i></button>
       <button type="button" id="{{i}}" class="btn btn-light float-end" (click)="updateitem(item.Id,item.Name,item.Surname,item.EmailAddress); reloadPage()"><i class="fa-solid fa-pen"></i></button>
    </button>
</div>

